<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>641308195675-japi0dlkhtqtva59tcmnav0urthb0fmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641308195675-japi0dlkhtqtva59tcmnav0urthb0fmn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>641308195675-o716k27s2im6f72l5us8ouhtoq795vfr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYbqiokujH72BOeD3m0RwblawKXe2FtMA</string>
	<key>GCM_SENDER_ID</key>
	<string>641308195675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justtreasure.treasureonetwo</string>
	<key>PROJECT_ID</key>
	<string>treasureone-4472e</string>
	<key>STORAGE_BUCKET</key>
	<string>treasureone-4472e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641308195675:ios:33db87c769eec1ae</string>
	<key>DATABASE_URL</key>
	<string>https://treasureone-4472e.firebaseio.com</string>
</dict>
</plist>